.checkout {
  display: flex;

}
.checkout__title {
  font-size: large;
  font-weight: 800;
  padding: 12px;
  border-bottom: 4px solid black;
}
.checkout__left {
  flex: 2;
}
.checkout__right {
  flex: 1;
}
.checkout__left > img {
  width: 100%;
  object-fit: contain;
}
