.subtotal {
  flex-direction: column;
  max-width: 300px;
  min-height: 100px;
  padding: 22px;
  margin: 20px;
  align-items: center;
  justify-content: space-around;
  background: lightgrey;
}
.subtotal__gift {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.subtotal > button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  width: 100%;
}
